.contactBody{
  background-color: ;
  background-size: cover;
  background-attachment: fixed;
  height:700px;

}
.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 42px;
  color: #423b33;
}
#title-Tag-Line{
    font-size: 20px;
}
/* This will center the form */
.wrapper {
  width: 80%;
  height: 50%;
  margin: 5% auto 0 auto; 
}

/* form animation starts */
.form {
  background: #fbf9f6;
  text-align: center; 
  box-shadow: 0px 0px 20px 5px #f8f3ee; 
  border-radius: 10px;  
  width: 45%; 
  height: 400px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;  
  animation: bounce 1.5s infinite;
}

.name { 
  background-color: #6b7a8f;
  border-bottom: 5px solid #606d80;
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.name:hover{
  background-color: #6b7a8f;
  border-bottom: 5px solid #606d80;
  height:30px;
  width:400px;
}

.email {
  background-color: #6b7a8f;  
  border-bottom: 5px solid #606d80;
  height:50px;
  width:300px;
  
}
.email:hover{
  background-color: #6b7a8f;  
  border-bottom: 5px solid #606d80;
  height:30px;
  width:380px;
 
}
.message {   
  background-color: #606d80;
  border-bottom: 5px solid #b09f88;
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.message:hover{
  background-color: #606d80;
  border-bottom: 5px solid #b09f88;
  height: 100px;
  width:370px;
}

.submit{
  border-radius:5px;
  padding:10px;
  background-color: #f7882f;  
  border: none;
  border-bottom: 5px solid #de7a2a; 
  transform: translateY(-120px); 

}

.submit:hover{
  border-bottom: 5px solid #f7882f;  
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #AAA;  
}

/* Shadow to make it look like form is floating  */
.shadow{
  box-shadow: 0px 0px 60px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 50%; 
  margin: 50px auto 0 auto;
  padding: 0 20px;  
  animation: shadow 1.5s infinite;
}
.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: #f7882f;  
  border: none;
  border-bottom: 5px solid #de7a2a; 
  margin-top: 150px; 

}



@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }

}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
